.chefScreen__screen{   
    background-image:
        linear-gradient(
            rgba(69, 79, 99, 0.9),
            rgba(69, 79, 99, 0.9)
        ),
        url(../../assets/chef.jpg);
    background-size: cover;
    position: relative;
    width: 100vw;
}

.chefScreen__clouds1{
    position: relative;
    top: -8.75em;
}

.chefScreen__clouds2{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.chefScreen__body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.chefScreen_cards{
    margin-bottom: 25rem;
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: 31.25em 31.25em;
    grid-template-rows: auto;
    grid-template-areas: "individualCard1 individualCard2""individualCard3 individualCard4";
}

.individualCard1{
    grid-area: individualCard1;
}

.individualCard2{
    grid-area: individualCard2;
}

.individualCard3{
    grid-area: individualCard3;
}

.individualCard4{
    grid-area: individualCard4;
}

.chefScreen__individualCard{
    padding-bottom: 1.25rem;
    border-radius: 20px;
    background-color: $secondary-dark;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.chefScreen__cardTitle{
    font-size: 2.25em;
    font-weight: bold;
    padding-top: 1.56rem;
}

.chefScreen__cardText{
    font-size: 1.62em;
}