.general__title{
    font-size: 4.5em;
    font-family: 'SF Pro Display';
    font-weight: bold;
    text-align: center;   
    margin-bottom: 3.43rem;
}

.general__titleMaxWidth{
    font-size: 4.5em;
    font-family: 'SF Pro Display';
    font-weight: bold;
    text-align: center;   
    margin-bottom: 3.43rem;
    width: 43.75rem;
}

.general__textPrimaryColor{
    color: $primary;
}

.general__heavyText{
    font-weight: 800;
}

.general__blackText{
    font-weight: 900;
}