@font-face{
    font-family: 'SF Pro Display Heavy';
    src: url('../../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Heavy.otf');
}

.infoScreen__screen{
    background-color: $custom-white;
    padding-top: 9.37em;
    font-size: 1em;
}

.infoScreen__icon{
    background-color: white;
    padding: 1.25em;
    width:   3.75em;
    height:  3.75em;
    border-radius: 100%;
    border: 3px solid $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-dark;
}

.infoScreen__containerCard{
    display: flex;
    margin-bottom: 2.1875em;
}

.infoScreen__containerText{
    margin-left:   3.75em;
    margin-bottom: 0.93em;
    max-width:  34.18em;
    min-height: 20.62em;
}

.infoScreen__containerText h6{
    font-family: 'SF Pro Display Heavy';
    font-size:     2.25em;
    margin-bottom: 2.1rem;
    margin-top:    0.625rem;
}

.infoScreen__containerText p{
    font-size: 1.6em;
} 

.infoScreen__img{
    max-width:  32.37em !important;
    max-height: 41em !important;
    position: absolute;
    right: 16%;
}

.infoScreen__containerSection{
    display: flex;
    justify-content: space-around;
}

.infoScreen__clouds{
    position: relative;
    bottom: 8.75em;
}