.welcome{
    background-color: $primary;
    color: white;
    padding-top: 3.12em;
    display: grid;
    grid-template-columns: 40% 45%;
    grid-gap: 2.5em;
    grid-template-rows: auto;
    grid-template-areas: "leftColumn img";
    justify-content: space-evenly;
}

.title{
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 4.5em;
    max-width: 24.8rem;
}

.welcomeScreen__leftColumn{
    grid-area: leftColumn;
    justify-self: end;
}

.welcomeScreen__leftColumn p{
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1.87rem;
}

.welcomeScreen__googlePlayLogo{
    width: 18.75em;
    position: relative;
    left: -1.25em;
}

.welcomeScreen__rightPhoto{
    left:   -3.75em;
    bottom: -5.625em;
    position: relative;
    z-index: 1;
    grid-area: img;
}

.welcomeScreen__cucinappLogo{
    width:  5em !important;
    height: 5em !important;
    margin-bottom: 1.87em;
}